# Gradle build folders
.gradle/
build/

# Local configuration file (contains local paths, should not be shared)
local.properties

# IntelliJ/Android Studio files
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS-specific files
.DS_Store

# Native builds
.externalNativeBuild
.cxx

# Screenshots or captures
/captures

